/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/


/* Slider Caption
-----------------------------------------------------------------*/


.font-change {
    font-size: 50px !important;
}


@media (max-width: 1199px) {
    
    .font-change{
        font-size: 50px !important;
    }
    
}


@media (min-width: 992px) and (max-width: 1199px) {
    
     .font-change .h2{
        font-size: 50px !important;
    }

}



@media (max-width: 991px) {
 
    .font-change .h2{
        font-size: 50px !important;
    }
}




@media (min-width: 768px) and (max-width: 991px) {

    .font-change .h2{
        font-size: 36px !important;
    }
}




@media (max-width: 767px) {
}


}

@media (min-width: 480px) and (max-width: 767px) {
    .font-change .h2{
        font-size: 36px !important;
    }
}



@media (max-width: 479px) {
    .font-change .h2{
        font-size: 36px !important;
    }


